<%- include('partials/header.ejs') %>
<body>
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h3 class="mt-3">Adicionar jogo</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/atualizar/<%=game.id%>">
                    <label>Título</label>
                    <input type="text" placeholder="Titulo" class="form-control" name="titulo">
                    <label class="mt-3">Descrição</label>
                    <textarea placeholder="Descreva seu jogo aqui" class="form-control" name="descricao"></textarea>
                    <label>Preço</label>
                    <input type="number" class="form-control" name="preco"  step="0.01" maxlength="number">
                    <button class="btn btn-primary mt-3" type="submit">Atualizar</button>
                    </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>